<?xml version="1.0" encoding="utf-8" ?>
<definitions>
  <define var="login" value="admin" />
  <define var="pass" value="$2y$10$htPle9UGgykRGdWmT/UhW.A5cGfnUATA8iASXfmswZ7r4sraC1n4y" />
  <define var="nombre_news" value="10" />
  <define var="nombre_comments" value="10" />
  <define var="nombre_caracteres" value="150" />
</definitions>
