RewriteEngine On

RewriteBase /

RewriteRule ^admin/ index.php?app=Backend [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l


RewriteRule ^.*$ index.php?app=Frontend [QSA,L]
